.done{
	text-decoration: line-through;color:#ccc;
}

#instafeed img {
    padding: 5px;
    opacity: 0.8;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}

#instafeed img:hover {
    opacity:1;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);


}