<!DOCTYPE html>
  <html lang="en" ng-app='ToDo'>
	<head>
		<title>StartingPAC Meron Tjabba</title>
		<meta charset="utf-8">
		<link href="css/style.css" rel="stylesheet" type="text/css">
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

			<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		<script type="text/javascript" src="instafeed.js/instafeed.min.js"></script>

	</head>
	<body>
		<div ng-controller = 'todoController'>
		  <form name='rfm' ng-submit='addTodo()'>
		  <span>#</span>
		  <input type='text' id="search" name='newtodo' ng-model='newtodo' placeholder="Enter string..." autofocus required />

		  <button ng-disabled='frm.$invalid' ng-click="searchTag()" ng-enter="search" id="submit" value="Submit">GO!</button>
		  
		  <button ng-click='clearCompleted()'>Clear search</button>
		  
		  <ul>
			<li ng-repeat="todo in todos">
			  <span ng-class='{"done":todo.done}'>{{todo.title}}</span> 
			</li>
		  </ul>
		  <div id='instafeed'></div>
		</div>

		<script src="js/angular.min.js"></script>
		<script src="js/angular.js"></script>
		<script src="js/app.js"></script>
	</body>
  </html>
